extends ../layouts/application.pug
  
block header
  = t('layouts.application.articles')

block content
  a.btn.btn-primary(href=route('newArticle'))= t('views.article.create')
  div.table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th.col-1.py-3= t('views.article.id')
          th.py-3= t('views.article.name')
          th.col-2.py-3= t('views.article.createdAt')
          th.col-2
      tbody
        each article in articles
          tr
            td.align-middle= article.id
            td.align-middle= article.name
            td.align-middle= formatDate(article.createdAt)
            td
              .d-flex
                a.btn.btn-primary.me-1(href=route('editArticle', { id: article.id }))= t('views.article.edit.submit')
                +buttonTo(route('article', { id: article.id }), 'delete')(class="btn btn-danger" value=t('views.article.delete.submit'))
