- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`
- const getError = (errors, propertyName) => errors.find((error) => error.path === propertyName)
- const getErrorText = (errors, propertyName) => _.groupBy(errors, 'path')[propertyName].map(({ message }) => message).join('. ')

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= propertyName
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin textarea(entity, propertyName, errors = [])
  - propertyErrors = _.get(errors, propertyName)
  - inputName = getInputName(propertyName)
  - inputId = getInputId(propertyName)
  .form-floating.mb-3
    textarea.form-control(
      id= inputId
      name= inputName
      class=(propertyErrors && 'is-invalid')
    )&attributes(attributes)= _.get(entity, propertyName, '')
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')
    label(
      for= inputId
    )= propertyName

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)
